graphviz >= 0.14
jupyterlab >= 3.0
matplotlib >= 3.3
mistune >= 2.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
numpy >= 1.19
objgraph >= 3.5
pandas >= 1.1
pyinstrument >= 3.4
ray[default]
scikit-image >= 0.15
scikit-learn >= 0.20
snakeviz >= 2.1
watermark >= 2.2
tornado>=6.3.2 # not directly required, pinned by Snyk to avoid a vulnerability
