graphviz >= 0.14
icecream >= 1.2
jupyterlab >= 3.0
matplotlib >= 3.3
numpy >= 1.19
objgraph >= 3.5
pandas >= 1.1
pyinstrument >= 3.4
ray == 1.2.0
scikit-image >= 0.15
scikit-learn >= 0.20
snakeviz >= 2.1
watermark >= 2.2
